
<div class="well">
	<h4><%= compare_hands(session[:player_hand], session[:computer_hand]) %></h4>
</div>

<div class="well">
	<p><%= session[:computer_name] %>'s cards:</p>

	<div class="row">
		<% session[:computer_hand].each do |card| %>
			<div class="span2">
				<%= return_card_picture(card) %>
			</div>
		<% end %>
	</div>
</div>

<div class="well">
	<p><%= session[:player_name] %>'s cards:</p>
	<div class="row">
		<% session[:player_hand].each do |card| %>
			<div class="span2">
				<%= return_card_picture(card) %>
			</div>
		<% end %>
	</div>
</div>
